<footer class="site-footer">
  <div class="wrapper footer-inner">
    <div class="footer-text">
      <p>&copy; {{ "now" | date: "%Y" }} TopoPhotonics Group. All rights reserved.</p>
      <p>Contact: <a href="mailto:mukherjeesebrabata@gmail.com">mukherjeesebrabata@gmail.com</a></p>
    </div>
    <div class="footer-logo">
      <a href="http://www.physics.iisc.ernet.in/" target="_blank">
        <img src="imageN/iisc-logo.png" width="50" alt="IISc Logo">
      </a>
    </div>
  </div>
</footer>
