<header class="site-header">
  <div class="wrapper header-inner">
    <!-- Site Title and Tagline -->
    <div class="site-title-container">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      {% if site.tagline %}
        <p class="site-tagline">{{ site.tagline | escape }}</p>
      {% endif %}
    </div>

   <!-- IISc Logo -->
    <a href="http://www.physics.iisc.ernet.in/" target="_blank">
      <img align="right" src="imageN/iisc-logo.png" width="70">
    </a>
    </div>
  </div>
</header>

