<header class="site-header">
  <div class="wrapper header-inner">

    <!-- Site Title and Tagline -->
    <div class="site-title-container">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        {{ site.title | escape }}
      </a>

      {% if site.tagline %}
        <p class="site-tagline">{{ site.tagline | escape }}</p>
      {% endif %}
    </div>

    <!-- IISc Logo -->
    <div class="header-logo">
      <a href="http://www.physics.iisc.ernet.in/" target="_blank">
        <!--<img src="imageN/iisc-logo.png" width="60" alt="IISc Logo"> -->
        <img align="right" src="imageN/iisc-logo.png" width="60">
      </a>
    </div>

    <!-- Navigation -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% assign titles_size = site.pages | map: 'title' | join: '' | size %}
    {% if titles_size > 0 %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <!-- svg unchanged -->
          </span>
        </label>

        <div class="trigger">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
              <a class="page-link" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    {% endif %}

  </div>
</header>
