---
---
/*
 * assets/main.scss
 * the dashed lines above are required
 */

$background-color: #111111; /* a dark, off-black for the bg */
$text-color: #FFFFFF; /* an off-white for the text */
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #FFFFFF; /* such as the site title in the header, visited */

@import "{{ site.theme }}";
